.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 2rem 2.5rem;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
  grid-auto-flow: row;
}

@media(max-width: 720px) {
  .container {
    padding: 0 1.5rem 2.5rem;
  }

  .container section {
    flex: none;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
}